<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add or Edit Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

<h2 th:text="${course.id} != null ? 'Edit Course' : 'Add New Course'">Add New Course</h2>

<form th:action="@{/courses/add}" th:object="${course}" method="post" class="mb-4">
    <input type="hidden" th:if="${course.id != null}" th:field="*{id}" />
    <div class="form-group">
        <label for="name">Course Name</label>
        <input type="text" id="name" th:field="*{courseName}" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="availableSeats">Available Seats</label>
        <input type="number" id="availableSeats" th:field="*{availableSeats}" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary" th:text="${course.id} != null ? 'Update Course' : 'Save Course'">Save Course</button>
</form>

<a th:href="@{/courses}" class="btn btn-link mt-3">Back to Course List</a>

</body>
</html>