<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="container mt-5">

    <h2>Admin Dashboard</h2>

    <div class="mt-4">
        <a th:href="@{/admission_status}" class="btn btn-info">View Student Admission Status</a>
        <a th:href="@{/students/meritlist}" class="btn btn-secondary">View Merit List</a>
        <a th:href="@{/courses}" class="btn btn-warning">Manage Courses</a>
        <a th:href="@{/}" class="btn btn-secondary">Home</a>
    </div>

    <a th:href="@{/}" class="btn btn-link mt-3">Back to Home</a>

    </body>
    </html>