<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>College Admission Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

<h2>Welcome to College Admission Management System</h2>

<div class="mt-4">
    <a th:href="@{/admin/dashboard}" class="btn btn-primary">Go to Admin Dashboard</a>
    <a th:href="@{/students/register}" class="btn btn-success">Student Registration</a>
</div>

</body>
</html>