<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Merit List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-5">

<h2>Merit List</h2>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Total Marks</th>
        <th>Course</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.totalMarks}"></td>
        <td th:text="${student.course}"></td>
        <td th:text="${student.status}"></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/dashboard}" class="btn btn-link mt-3">Back to Dashboard</a>


</body>
</html>